.row {
  width: 80%;
  margin: auto;
}

/* HEADER */
header {
  height: 10vh;
  background: linear-gradient(to right, #000000, #434343);
}

header .nav-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  height: 10vh;
}

header .nav-bar li:first-child {
  display: inline-block;
  font-size: 1.4em;
  border: solid #f5c518 1px;
  padding: 4px 8px;
  background-color: #f5c518;
  border-radius: 10px;
}

header .nav-bar li .link {
  font-family: "Roboto";
  font-weight: black;
  letter-spacing: 1px;
  color: #191919;
  text-decoration: none;
}

/* HERO */
.hero {
  background-size: cover;
  background-position: center;
  color: #fff;
}

.hero-box {
  height: 90vh;
}

.hero-content {
  position: relative;
  top: 62vh;
  font-size: 16px;
}

.hero-content .popular-text {
  font-size: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
}

.hero-content h1 {
  font-size: 1.5em;
  font-weight: 900;
  text-transform: capitalize;
  word-spacing: 0.2em;
  letter-spacing: 0.1em;
  margin: 1% 0;
}

.hero-content p {
  font-size: 1.2em;
  font-weight: 400;
  word-spacing: 0.1em;
  letter-spacing: 1px;
}

.hero-content p span {
  display: inline-block;
  margin-right: 5px;
}

.hero-content p span:not(:last-child)::after {
  content: "|";
  margin-left: 4px;
}

.rating-text {
  margin-top: 1%;
}

/* MOVIES */
.movies {
  background-color: #f2f2f2;
  padding-bottom: 55px;
}

.movies .btn-box {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.movies .btn-box button {
  display: inline-block;
  padding: 0.6em 1.6em;
  border: 0.2em solid #ccc;
  margin-top: 5%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5em;
  background-color: #f2f2f2;
  color: #ccc;
  text-align: center;
  outline-width: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.movies .btn-box button:hover {
  transform: translate(0, 3%);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.movies .btn-box i {
  color: #ccc;
  font-size: 0.8em;
  display: inline-block;
  margin-left: 0.6em;
}

/* SEARCH */
.search-box {
  width: 100%;
  padding: 1.5% 0 0.8% 0;
  background-color: #f2f2f2;
}

.search-box i {
  display: inline-block;
  width: 1.3%;
  font-size: 1em;
  color: #b3b3b3;
}

.search-box input {
  display: inline-block;
  width: 98.7%;
  height: 60px;
  padding: 20px;
  background-color: #f2f2f2;
  margin: auto;
  border: none;
  outline-width: 0;
  border-bottom: solid 1px #b3b3b3;
}

.Search-result-container {
  position: relative;
  width: 100%;
  max-height: 299px;
  overflow-y: auto;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 0px 0px 40px 0px#333;
  margin-top: 10px;
  font-size: 16px;
}

.Search-no-result {
  color: #ccc;
  padding: 15px 0 15px 35px;
  border-bottom: 1px solid #ccc;
}

.Search-result {
  color: #ccc;
  padding: 15px 0 15px 35px;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Search-result:hover {
  color: #fff;
}

.search-img-box img {
  width: 100%;
  height: auto;
  margin-bottom: 4px;
}

.Search-result-title {
  margin-bottom: 2px;
}

/* MOVIE */
.movie-box {
  width: 22%;
  margin: 2.5% 2.5% 0 0;
  display: inline-block;
  padding-bottom: 15px;
  box-shadow: 0 0.1em 1.5em #b3b3b3;
  font-size: 16px;
}

.movie-box img {
  width: 100%;
}

.movie-box .quick-infos {
  width: 90%;
  margin: 3% auto 0 auto;
}

.movie-box .quick-infos h3 {
  padding: 2% 0 0 0;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.movie-box .quick-infos h3 span {
  display: inline-block;
}

.movie-box .quick-infos p:nth-child(2) {
  display: inline-block;
  width: 100%;
  padding: 3% 0 0 0;
  color: #f5c518;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.12em;
}

.movie-box .quick-infos p:nth-child(2) span {
  display: inline-block;
  margin-right: 3px;
}

.movie-box .quick-infos p:nth-child(2) span:not(:last-child)::after {
  content: ",";
}

.movie-box .quick-infos .fas.fa-heart {
  font-size: 1em;
  color: #ec6f52;
}

.movie-box .quick-infos p:last-child {
  display: inline-block;
  margin-top: 3%;
  font-size: 1.2em;
  margin-left: 3.5%;
}

/* FOOTER */
footer div {
  height: 80px;
  background-color: #fff;
  color: #b3b3b3;
  font-size: 16px;
}

footer ul {
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

footer ul li {
  width: 25%;
}

footer ul li a {
  color: #b3b3b3;
  text-decoration: none;
  text-transform: uppercase;
}

/* MOVIE DETAILS */
.movie-details {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
  font-size: 16px;
}

.movie-side-box {
  width: 18.5%;
  display: inline-block;
  padding-top: 3%;
  margin-right: 30px;
}

.poster-img {
  width: 100%;
  height: auto;
}

.movie-main-box {
  padding: 3% 3% 0 3%;
  width: 81.5%;
  display: inline-block;
  background-color: #f2f2f2;
}

.img-backdrop {
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.movie-infos {
  margin-top: 8%;
}

.movie-main-box h2 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 2%;
  font-size: 1.7em;
}

.rating {
  display: inline-block;
  font-size: 1.2em;
  margin-top: 1.5%;
  margin-right: 0.7%;
}

.vote {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 300;
}

.genres {
  margin-top: 1%;
  font-size: 1.2em;
}

.genresList {
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: 300;
}

.genresList span {
  margin-right: 1%;
}

.genresList span:not(:last-child)::after {
  content: ",";
}

.overview {
  margin-top: 1%;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.overview-text {
  font-size: 1.2em;
}

.cast-box {
  padding-bottom: 3%;
}

.cast-img {
  display: inline-block;
  margin: auto;
}

.cast-text {
  margin: 1% 0 2.5% 0;
  font-size: 1.2em;
}

.slick-prev:before,
.slick-next:before {
  color: #333;
}

.cast-name {
  text-align: center;
  font-weight: 300;
  font-size: 0.8em;
  margin-top: 5%;
}

.text {
  font-size: 1.2em;
  font-weight: 400;
  margin: 4% 0;
}

.release-date,
.length,
.director {
  font-weight: 300;
  margin-bottom: 7%;
}

/* LOADER */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ctnr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.ldr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  width: 2.5em;
  height: 2.5em;
}

.ldr-blk {
  height: 35%;
  width: 35%;
  -webkit-animation: pulse 0.75s ease-in infinite alternate;
  animation: pulse 0.75s ease-in infinite alternate;
  background-color: #b3b3b3;
}

.an_delay {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
  header .nav-bar li:first-child {
    font-size: 1.2em;
  }

  .movie-box {
    width: 28%;
    margin: 3.5% 3.5% 0 0;
    font-size: 15px;
  }

  .hero-content,
  .movies .btn-box,
  .Search-result-container,
  footer div {
    font-size: 14px;
  }

  .movie-details {
    font-size: 13px;
  }

  .Search-no-result,
  .Search-result {
    padding: 10px 0 10px 30px;
  }

  .search-icon {
    display: none;
  }

  .movie-side-box {
    width: 20%;
    padding-top: 3.5%;
  }

  .movie-main-box {
    width: 80%;
    padding: 3.5% 3% 0 3%;
  }

  .img-backdrop {
    height: 50vh;
  }

  .cast-img {
    width: 35%;
  }

  .movie-box .quick-infos p:nth-child(2) span {
    margin-right: 0;
  }

  .movie-box .quick-infos p:nth-child(2) span:nth-child(3) {
    display: none;
  }

  .movie-box .quick-infos p:nth-child(2) span:not(:first-child)::before {
    content: ",";
    margin-right: 5px;
  }

  .movie-box .quick-infos p:nth-child(2) span:not(:last-child)::after {
    content: "";
  }

  .movie-box .quick-infos h3 {
    letter-spacing: 0.8px;
  }

  .movie-main-box h2 {
    margin-top: 2.5%;
  }

  .overview,
  .genresList,
  .rating-dt,
  .genres-dt {
    margin-top: 1.5%;
  }

  .cast-text {
    margin-top: 2%;
  }

  .genresList {
    margin-bottom: 1.5%;
  }
}

@media (max-width: 768px) {
  header .nav-bar li:first-child {
    font-size: 1em;
  }

  .search-img-box img {
    display: none;
  }

  .movie-box {
    width: 36%;
    font-size: 14px;
    margin: 4.5% 12.5% 1.5% 0;
  }

  .movie-side-box {
    width: 25%;
    padding-top: 3.5%;
  }

  .movie-main-box {
    width: 75%;
    padding: 3.5% 3% 0 3%;
  }

  .img-backdrop {
    height: 40vh;
  }

  .hero-box {
    height: 70vh;
  }

  .hero-content {
    top: 48vh;
  }

  .hero-content,
  .Search-result-container,
  footer div {
    font-size: 12px;
  }

  .movies .btn-box {
    font-size: 13px;
    margin-top: 1%;
  }

  .movie-box .quick-infos p:nth-child(2) {
    font-size: 0.8em;
  }

  .movie-main-box h2 {
    margin-top: 3%;
  }

  .overview,
  .genresList,
  .rating-dt,
  .genres-dt {
    margin-top: 2%;
  }

  .cast-text {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .genresList {
    margin-bottom: 2%;
  }
}

@media (max-width: 426px) {
  header {
    height: 7vh;
  }

  header .nav-bar {
    height: 7vh;
  }

  header .nav-bar li:first-child {
    padding: 2px 6px;
  }

  header .nav-bar li:first-child {
    font-size: 0.7em;
  }

  .search-box {
    padding-top: 2%;
  }

  .movie-box {
    width: 40%;
    font-size: 12px;
    margin: 8% 25% 3% 25%;
  }

  .movie-details {
    font-size: 12px;
  }

  .movie-side-box {
    width: 35%;
    padding-top: 5.5%;
    margin-right: 20px;
  }

  .movie-main-box {
    width: 65%;
    padding: 5.5% 3% 0 3%;
  }

  .img-backdrop {
    height: 20vh;
  }

  .hero-box {
    height: 40vh;
  }

  .hero-content {
    top: 22vh;
  }

  .hero-content,
  .Search-result-container,
  footer div {
    font-size: 10px;
  }

  .movies .btn-box {
    font-size: 8px;
    margin-top: 2%;
    margin-right: 10%;
  }

  .movie-box .quick-infos p:nth-child(2) {
    font-size: 0.8em;
  }

  .movie-box .quick-infos p:nth-child(2) span:nth-child(2) {
    display: none;
  }

  .movie-main-box h2 {
    margin-top: 5%;
    font-size: 1.5em;
  }

  .overview,
  .genresList,
  .rating-dt,
  .genres-dt {
    margin-top: 4%;
  }

  .cast-text {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .genresList {
    margin-bottom: 3.5%;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 14px;
  }

  footer ul li {
    width: 27%;
  }

  .arrow {
    height: 20px !important;
    width: 20px !important;
  }
}

/* ScrollUpButton Component */
.arrow {
  background: none !important;
  fill: #333 !important;
  bottom: 90px !important;
}
