html,
body {
  height: 100vh;
}

body {
  margin: 0;
  background-color: coral;
  background: linear-gradient(45deg, #ff8e8e, #f5a94c, #e0c15b);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  float: left;
  margin: 0 5px;
  transform: scale(0);
}

@keyframes fx {
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
